<footer id="sticky-footer" class="py-4 bg-dark text-white">
 <div class="container text-center">
  <small>Copyright &copy; <%= link_to "Igor Matheus", "https://github.com/igorkafka"%>
 </div>
</footer>